<div class="container">
	<ul class="collection with-header">
		<li class="collection-header"><h4>List Of Hotels</h4></li>
		    <% if @res.empty? %>
		    	<li class="collection-item">Sorry, Hotels Not found</li>
		    <% else %>	
		    	<li class="collection-item">	
				<table style="text-align: center;">
				<tr style="border-bottom: 1px solid black;">
				<th> Hotel Name </th>
				<th> Location </th>
				<th> Description  </th>
				<th></th>
				</tr>
					<% @res.each do |a|%>
						<tr id="hotel_details_row" onclick = "window.location.href = '<%= search_path(a) %>'">
						<td><%= a.hotel_name %></td>
						<td><%= a.hotel_location %></td>
						<td><%= a.hotel_description %></td>
						<td><%= link_to 'Show', search_path(a) %></td>
						</tr>
					<% end %>
				</table>
				</li>
				<%= paginate @res %>
			<% end%>
	</ul>
</div>


        