<%= form_tag({:controller=> "search", :action=>"roomSearchView"},:method=>"get")do %>
<div class="container">
	<h3>Listing Rooms</h3>
	<table  style="width: 80%">
	<tr>
	<th></th>
	<th> Price</th>
	<th> Room Description  </th>
	<th> No Of Bedroom </th>
	</tr>
		<% @room_res.each do |r|%>
			<tr>
				<td><%= check_box("room_select", r.id)%></td>
				<td><%= r.room_price %></td>
				<td><%= r.room_description %></td>
				<td><%= r.no_of_bedrooms %></td>						
			</tr>
		<% end %>
	</table>
	 <%= submit_tag "Book Now", class: "btn btn-large btn-primary search-button" %>
	
	<%= paginate @room_res %>
</div>
<% end %>