<div class="container">
<h4>Booking Confirmation Details </h4>
<h5>Hotel Details </h5>
	<%= form_for :booking, url: create_booking_path, method: "get" do |f| %>	
		<div>
			<span>Hotel Name : &nbsp;&nbsp;&nbsp;</span>
			<span>
				<% @hotel_details.each do |a|%>
					<%= a.hotel_name %>
				<% end %>
			</span>
		</div>

		<div>
			<span>Hotel Location : &nbsp;</span>
			<span>
				<% @hotel_details.each do |a|%>
					<%= a.hotel_location %>
				<% end %>
			</span>
		</div>

		<h5>Rooms Details </h5>
		<table style="text-align: center;">
		<tr>
		<th style="width: 30%"> Room Description  </th>
		<th style="width: 20%"> No Of Bedroom </th>
		<th> Price  </th>
		</tr>
			<% @rooms_details.each do |details|%>
					<tr>
					<td><%= details.room_description %></td>
					<td><%= details.no_of_bedrooms %></td>
					<td><%= details.room_price %></td>
					</tr>				
			<% end %>		
		<tr>
			<th> Total </th>
			<th></th>
			<td><%= @booking_price %></td>
		</tr>
		
		</table>
		<%= f.submit "Book Rooms", data: { confirm: 'Confirm?' } %>
	<% end %>
</div>
