<!DOCTYPE html>
<html>
  <head>
    <title>HotelOnlineService</title>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      function makeToast(){
        document.getElementById("notice").style.visibility = "visible";
      }
      $( document ).ready(function(){
        $(".dropdown-button").dropdown();
      }) 
    </script>
    <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>          
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'rails.validations', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">&nbsp;&nbsp;Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%= render "/layouts/header_auth" %>  
        </ul>
      </div>
    </nav>      
         <%= render "/layouts/messages" %>  
    <%= yield %>
  </body>
</html>
